*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
  }
  
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  
li {
    float: left;
  }
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    background-color: #00AB41;
  }
  
li a:hover {
    background-color: #008631;
  }
  
.container {
    text-align: left;
    display: block;
    width: 100%;
    height: 1550px;
    background-color: #EEEEEE;
  }
  
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

.block {
      display: inline-block;
      width: 1000px;
      height: 2100px;
      background-color: silver;
    }
  
  
.gsquareSubBlock{
      display: inline-block;
      width: 650px;
      height: 300px;
      background-color: white;
  }
  
  
.text1{
    color: #8B4513;
    text-align: center;
    font-size: 20px;
    background-color: silver;
  }
  
.animalBoxText{
    color: black;
    font-size: 20px;
}

.gorillaTitle{
    color:#3D3D3D;
    font-size:40px;
    text-align: center
}


.block img {
    border: 10px solid silver;
    border-style: double;
    display: block;
    height: 200px;
    float: left;
    margin-left: 20px
}

.animalBoxText{
    color: black;
    font-size: 20px;
}

.button{
    font-size: 50px;
}
.container {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 1550px;
	background-color: white;
	margin-top: 86px;
}

.button {
	font-size: 30px;
	color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}